<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<p>
    {% if user.is_authenticated %}
        <a href="students/new"><input type='submit' value='Add student'></a>
    {% endif %}
</p>
{% with students.count as total_students %}
    <i>
        {{ total_students }} students total{{ total_students|pluralize }}
    </i>
{% endwith %}
{% for student in students %}
    <div>
        <h2>
            <a href="{% url 'get_student' student_id=student.student_id %}">
                {{ student.first_name }} {{ student.last_name }}
            </a>
        </h2>
        <p><b>Email:</b>{{ student.email }}</p>
    </div>
{% endfor %}
<a href='students/contact_admin'><input type='submit' value='Contact us'></a>
</body>
</html>