<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
<p>
    {% if user.is_authenticated %}
        <a href="groups/new"><input type='submit' value='Add group'></a>
    {% endif %}
</p>
{% with groups.count as total_groups %}
    <i>
        {{ total_groups }} groups total{{ total_groups|pluralize }}
    </i>
{% endwith %}
{% for group in groups %}
    <div>
        <h2>
            <a href="{% url 'get_group' group_id=group.group_id %}">
                {{ group.course }}
            </a>
        </h2>
        <p><b>Teacher:</b>{{ group.teacher_id }}</p>
    </div>
{% endfor %}
<a href='groups/contact_admin'><input type='submit' value='Contact us'></a>
</body>
</html>