<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lecturers</title>
</head>
<body>
<p>
    {% if user.is_authenticated %}
        <a href="lecturers/new"><input type='submit' value='Add lecturer'></a>
    {% endif %}
</p>
{% with lecturers.count as total_lecturers %}
    <i>
        {{ total_lecturers }} lecturers total{{ total_lecturers|pluralize }}
    </i>
{% endwith %}
{% for lecturer in lecturers %}
    <div>
        <h2>
            <a href="{% url 'get_lecturer' lecturer_id=lecturer.lecturer_id %}">
                {{ lecturer.first_name }} {{ lecturer.last_name }}
            </a>
        </h2>
        <p><b>Email:</b>{{ lecturer.email }}</p>
    </div>
{% endfor %}
</body>
</html>