<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Lecturer</title>
</head>
<body>
{% if not lecturers %}
    <p>There are no lecturers yet.</p>
{% endif %}

{% if new_lecturer %}
    <p><a href="{% url 'get_lecturers' %}">
    <input type='submit' value='Back to the Lecturers list'></a></p>
    <b> Your lecturer has been added.</b>
{% else %}
    <form method="post">
        {{ lecturer_form.as_p }}
        {% csrf_token %}
        <p><input type='submit' value='Add lecturer'></p>
    </form>
{% endif %}
</body>
</html>