<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Group</title>
</head>
<body>
{% for group in groups %}
{% empty %}
    <p>There are no groups yet.</p>
    <p>You have to create at least one student and teacher before creating group.</p>
{% endfor %}

{% if new_group %}
    <p>
    <a href="http://127.0.0.1:8000/groups">
    <input type='submit' value='Back to the Groups list'>
    </a>
    </p>
    <b> Your group has been added.</b>
    {{ group_form.as_p }}
        {% csrf_token %}
        <p><input type='submit' value='Add group'></p>
{% else %}
    <form method="post">
        {{ group_form.as_p }}
        {% csrf_token %}
        <p><input type='submit' value='Add group'></p>
    </form>
{% endif %}
</body>
</html>