<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>
</head>
<body>
{% if not students %}
    <p>There are no students yet.</p>
{% endif %}

{% if new_student %}
    <p><a href="{% url 'get_students' %}">
    <input type='submit' value='Back to the Students list'></a></p>
    <b> Your student has been added.</b>
{% else %}
    <form method="post">
        {{ student_form.as_p }}
        {% csrf_token %}
        <p><input type='submit' value='Add student'></p>
    </form>
{% endif %}
</body>
</html>