<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Group</title>
</head>
<body>
{% if not groups %}
    <p>There are no groups yet.</p>
    <p>You have to create at least one student and teacher before creating group.</p>
{% endif %}

{% if new_group %}
    <p><a href="{% url 'get_groups' %}">
    <input type='submit' value='Back to the Groups list'></a></p>
    <b> Your group has been added.</b>
{% else %}
    <form method="post">
        {{ group_form.as_p }}
        {% csrf_token %}
        <p><input type='submit' value='Add group'></p>
    </form>
{% endif %}
</body>
</html>